
<section id="About-Meet-Owner" class="About-Meet-Owner" style="background-color: {{ section.settings.bg-color }}">
  <article class="About-mo__content">

  <div class="About-mo__header">
    <span class="About-mo__title-wrap">
      <h3 class="About-mo__title">
        {{ section.settings.title }}
      </h3>
    </span>
  </div>

  <div class="About-mo__container">

    <div class="About-mo__column About-mo__column--text">
      <div class="About-mo__text-box">
        <p class="About-mo__text">
          {{ section.settings.text }}
        </p>
      </div>
    </div>

    <div class="About-mo__column About-mo__column--image">
      {% comment %}<img src="{{ section.settings.image | img_url: 'master' }}" class="About-mo__image">{% endcomment %}
      {% include 'responsive-image' image: section.settings.image, classes: 'About-mo__image' %}
    </div>

    

  </div>

  </article>
</section>

{% schema %}
  {
    "name": "About Meet Owner",
    "class": "About-mo__no-margin",
    "settings": [
      {
        "type": "color",
        "id": "bg-color",
        "label": "Section Background Color",
        "default": "#F5F5F5"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Meet John/Jane Doe"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Section Image"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Section Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."
      }
    ]
  }
{% endschema %}