<section id="Refer-referrals" class="Refer-referrals">
  <div class="Refer-r__content Site__page-width">
  
    <div class="Refer-r__header">
      <div class="Refer-r__highlight">
        <h4 class="Refer-r__header-text">
          Your Referrals
        </h4>
      </div>
    </div>

    <div class="Refer-r__table-wrap">
      <table class="swell-referral-table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Status</th>
          </tr>
        </thead>
        <div class="Refer-r__table-spacer"></div>
        <tbody class="table-data">
        </tbody>
      </table>
    </div>

    <div class="Refer-r__footer">
      <p class="Refer-r__balance">Balance: <span class="swell-point-balance">0</span> points</p>
      <a href="/pages/rewards#Rewards-Redeem-For-Discounts" class="Refer-r__redeem-button Site__button-main">Redeem Now</a>
    </div>

  </div>
</section>