<section id="Track-Order" class="Track-Order">
  <article class="Track-Order__content Site__page-width">

    <div class="Track-Order__account-header">
      <span class="Track-Order__account-header-hilight">
        <h1 class="Track-Order__account-header-text">
          {{ section.settings.header }}
        </h1>
      </span>
    </div>

    <div class="Track-Order__app-container">
      {{ page.content }}
    </div>

  </article>
</section>