.AjaxCart-up-sell {
  width: 100%;
  height: auto;
  padding: 0px 28px;
  margin: 0;
  margin-bottom: 50px;
}
.AjaxCart-up-sell-title {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  color: #000;
}
.AjaxCart-up-sell-description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  opacity: .8;
  margin-bottom: 25px;
}
.AjaxCart-up-sell-widget {
  width: 100%;
  min-height: 120px;
  border: 1px solid #eaeaea;
}
