<div class="countdown-desktop">
    <div class="checkout-banner">
        <div class="alert-text">
            A product in your cart is in high demand!<br>
            Good news! We've reserved your order for <span id="checkout-timer-desktop"></span>
        </div>
    </div>
</div>