<?xml version="1.0" encoding="UTF-8"?>
<svg width="16px" height="14px" viewBox="0 0 16 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Hamburger</title>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Mobile/-Navigation" transform="translate(-22.000000, -23.000000)" fill="#000000">
            <g id="Left-Icons" transform="translate(22.500000, 22.083333)">
                <path d="M14.1721686,12.9166667 C14.5941981,12.9166667 14.9424674,13.231837 14.99355,13.6448375 L15,13.75 C15,14.2102373 14.6292114,14.5833333 14.1721686,14.5833333 L0.827831402,14.5833333 C0.370632743,14.5833333 0,14.213446 0,13.75 C0,13.2897627 0.370788574,12.9166667 0.827831402,12.9166667 L14.1721686,12.9166667 Z M14.1721686,7.08333333 C14.5941981,7.08333333 14.9424674,7.39850362 14.99355,7.81150417 L15,7.91666667 C15,8.37690396 14.6292114,8.75 14.1721686,8.75 L0.827831402,8.75 C0.370632743,8.75 0,8.38011265 0,7.91666667 C0,7.45642938 0.370788574,7.08333333 0.827831402,7.08333333 L14.1721686,7.08333333 Z M14.1721686,1.25 C14.5941981,1.25 14.9424674,1.56517029 14.99355,1.97817084 L15,2.08333333 C15,2.54357062 14.6292114,2.91666667 14.1721686,2.91666667 L0.827831402,2.91666667 C0.370632743,2.91666667 0,2.54677931 0,2.08333333 C0,1.62309604 0.370788574,1.25 0.827831402,1.25 L14.1721686,1.25 Z" id="Hamburger"></path>
            </g>
        </g>
    </g>
</svg>