<?xml version="1.0" encoding="UTF-8"?>
<svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Search</title>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop/-Navigation" transform="translate(-1259.000000, -30.000000)" fill="#000000">
            <g id="Right-Links" transform="translate(1149.000000, 16.000000)">
                <g id="Icons" transform="translate(110.000000, 8.000000)">
                    <path d="M6.33333333,6.08333333 C9.78511302,6.08333333 12.5833333,8.88155365 12.5833333,12.3333333 C12.5833333,13.7587153 12.1061796,15.072652 11.3028884,16.1241275 L15.8268454,20.6483341 C16.1238433,20.945332 16.1495192,21.4105569 15.8993191,21.7384489 L15.8242394,21.8242394 C15.4988025,22.1496763 14.9728611,22.1513724 14.6483341,21.8268454 L10.1241275,17.3028884 C9.07265205,18.1061796 7.7587153,18.5833333 6.33333333,18.5833333 C2.88155365,18.5833333 0.0833333333,15.785113 0.0833333333,12.3333333 C0.0833333333,8.88155365 2.88155365,6.08333333 6.33333333,6.08333333 Z M6.33333333,7.75 C3.80202823,7.75 1.75,9.80202823 1.75,12.3333333 C1.75,14.8646384 3.80202823,16.9166667 6.33333333,16.9166667 C8.86463844,16.9166667 10.9166667,14.8646384 10.9166667,12.3333333 C10.9166667,9.80202823 8.86463844,7.75 6.33333333,7.75 Z" id="Search"></path>
                </g>
            </g>
        </g>
    </g>
</svg>