<?xml version="1.0" encoding="UTF-8"?>
<svg width="15px" height="17px" viewBox="0 0 15 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Bag</title>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop/-Navigation" transform="translate(-1359.000000, -30.000000)" fill="#000000">
            <g id="Right-Links" transform="translate(1149.000000, 16.000000)">
                <g id="Icons" transform="translate(110.000000, 8.000000)">
                    <g id="Bag" transform="translate(100.000000, 0.000000)">
                        <path d="M7.28570845,6 C9.55037721,6 11.3883377,7.81354228 11.3883377,10.0457067 L11.3883377,10.0457067 L11.388,10.047 L12.2071167,10.047619 C13.1144093,10.047619 13.8957884,10.7717492 13.9521763,11.6618583 L14.5681799,21.3857607 C14.6246572,22.2772805 13.938021,23 13.0334187,23 L1.53799818,23 C0.633895715,23 -0.0531509169,22.2758698 0.00323697921,21.3857607 L0.619240574,11.6618583 C0.675717834,10.7703386 1.45547335,10.047619 2.36430016,10.047619 L3.183,10.047 C3.18307923,7.88000981 4.91276007,6.11022492 7.08117372,6.00495393 Z M12.2071167,11.6666667 L11.388,11.666 L11.3883377,13.2857143 C11.3883377,13.6984106 11.0753192,14.0389778 10.6707368,14.0889308 L10.5678118,14.0952381 C10.1146479,14.0952381 9.74728598,13.7328019 9.74728598,13.2857143 L9.74728598,13.2857143 L9.747,11.666 L4.824,11.666 L4.82413092,13.2857143 C4.82413092,13.6984106 4.51111247,14.0389778 4.10653009,14.0889308 L4.00360507,14.0952381 C3.55044116,14.0952381 3.18307923,13.7328019 3.18307923,13.2857143 L3.18307923,13.2857143 L3.183,11.666 L2.36430016,11.6666667 C2.32209551,11.6666667 2.25952057,11.7245858 2.25709644,11.7628517 L1.65390962,21.3809309 L12.9234878,21.3788405 L12.3143205,11.7628517 C12.3119887,11.7260442 12.2478356,11.6666667 12.2071167,11.6666667 Z M10.5715882,18.1428571 C10.9879682,18.1428571 11.3315752,18.4490226 11.381974,18.8502231 L11.3883377,18.952381 C11.3883377,19.3994686 11.035768,19.7619048 10.5715882,19.7619048 L3.99982866,19.7619048 C3.5487504,19.7619048 3.18307923,19.4025856 3.18307923,18.952381 C3.18307923,18.5052933 3.53564893,18.1428571 3.99982866,18.1428571 L10.5715882,18.1428571 Z M7.28570845,7.61904762 C5.92838039,7.61904762 4.82413092,8.70700282 4.82413092,10.0457067 L4.82413092,10.0457067 L4.824,10.047 L9.747,10.047 C9.74728598,8.76119377 8.73050092,7.70653666 7.44742551,7.62421931 Z"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>