<div id="Order-Status" class="Order-Status__pledge">
  <div class="Order-Status__pledge-content">
    <div class="Order-Status__pledge-highlight">
      <h1 class="Order-Status__pledge-title">
        Gleamin's efforts with the Pledge!
      </h1>
    </div>
    <p class="Order-Status__pledge-text">
      Lorem ipsum dolor sit something about the pledge..
    </p>
    <a href="/pages/pledge" class="Order-Status__pledge-link">
      Learn More
    </a>
  </div>
</div>