//Empty
.Cart__empty-wrap {
  width: 100%;
  height: auto;
}
.Cart__empty-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  opacity: .8;
  text-align: center;
  margin-bottom: 30px;
}
.Cart__empty-button {
  width: 100%;
  max-width: 360px;
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}