.Ingredients-textbox {
  width: 100%;
  height: auto;
  padding: 100px 0px;
}
.Ingredients-tb__content {
  width: 100%;
  height: 100%;
  text-align: center;
}
.Ingredients-tb__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 15px;
}
.Ingredients-tb__text {
  font-size: 24px;
  line-height: 38px;
  opacity: 0.8;
  font-weight: 400;
}
