.SiteHeader--announcement-bar {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  text-align: center;
}
.SiteHeader--announcement-bar-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
  color: #FFF;
  text-transform: uppercase;
}