<section id="FAQ-hero" class="FAQ-hero">
  <article class="FAQ-h__content Site__page-width">

			<div class="FAQ-h__image-wrap">
				{% comment %}<img src="{{ section.settings.image | img_url: 'master' }}" class="FAQ-h__image">{% endcomment %}
        {% include 'responsive-image' image: section.settings.image, classes: 'FAQ-h__image' %}
			</div>
			<div class="FAQ-h__text-box">
				<div class="FAQ-h__title-wrap">
					<h3 class="FAQ-h__title">
						{{ section.settings.title }}
					</h3>
				</div>
					<p class="FAQ-h__description">
						{{ section.settings.text }}
					</p>
			</div>

  </article>
</section>


{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "FAQ"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Section Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt."
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Hero Image"
      }
    ]
  }
{% endschema %}