<section id="Simple-Page-Template" class="SimplePages-Template">
  <article class="SimplePages__content">
  
    <div class="SimplePages__header">
      <div class="SimplePage__header-highlight">
        <h1 class="SimplePages__header-text">
          {{ header }}
        </h1>
      </div>
    </div>

    <div class="SimplePages__info">
    
      <p class="SimplePages__headline">
        {{ title }}
      </p>

      <p class="SimplePages__text">
        {{ text }}
      </p>
    
    </div>

  </article>
</section>