// -- Forgot Password Content
.Customer__login-forgot-password-content {
  width: 100%;
  height: auto;
  margin-top: 40px;
  scroll-margin-top: 30px;
}
.Customer__hide-form {
  display: none;
}
.Customer__forgot-password-header {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.Customer__forgot-password-header-text {
  font-size: 28px;
  font-weight: 700;
  line-height: 52px;
  color: #000;
  margin: 0;
}
.Customer__forgot-password-header-subtext {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
  opacity: 0.8;
  margin: 0;
}

// - form
.Customer__forgot-password-form {
  width: 100%;
  height: auto;
}

// - errors
.errors ul li {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #000;
  opacity: 0.5;
}

@media screen and (max-width: 490px) {
  // -- Forgot Password Content
  .Customer__login-forgot-password-content {
    width: 100%;
    height: auto;
    margin-top: 40px;
    scroll-margin-top: 120px;
  }
  .Customer__hide-form {
    display: none;
  }
  .Customer__forgot-password-header {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
  .Customer__forgot-password-header-text {
    font-size: 28px;
    font-weight: 700;
    line-height: 52px;
    color: #000;
    margin: 0;
  }
  .Customer__forgot-password-header-subtext {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #000;
    opacity: 0.8;
  }

  // - form
  .Customer__forgot-password-form {
    width: 100%;
    height: auto;
  }

  // - errors
  .Customer__login-forgot-password-content .errors {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #000;
    opacity: 0.5;
  }
}
